<div class="add-products">
    <form [formGroup]='newProduct'>
        <div>
            <label>Product Title</label>
            <input type="text" formControlName="productName" id="title" placeholder="Title *" />
        </div>
        <div>
            <label>Product Description</label>
            <textarea id="description" formControlName="productDescription" rows="5" placeholder="Description *"></textarea>
        </div>
        <div>
            <label>Product Price</label>
            <input type="number" formControlName="productPrice" id="price" placeholder="Price *" />
        </div>
        <div>
            <label>Product Title</label>
            <select formControlName="productAvailable">
                <option value=true>Yes</option>
                <option value=false>No</option>
            </select>
        </div>
        <button>ADD PRODUCT</button>
    </form>
</div>
