<div class="add-products">
    <form [formGroup]='newProduct'>
        <div>
            <label>Product Title</label>
            <input type="text" formControlName="productName" id="title" placeholder="Title *" />
        </div>
        <div>
            <label>Product Description</label>
            <textarea id="description" formControlName="productDescription" rows="5" placeholder="Description *"></textarea>
        </div>
        <div>
            <label>Product Price</label>
            <input type="number" formControlName="productPrice" id="price" placeholder="Price *" />
        </div>
        <div>
            <label>Product Available?</label>
            <select formControlName="productAvailable">
                <option value=true>Yes</option>
                <option value=false>No</option>
            </select>
        </div>
        <div style="height: 15px;display: flex;align-items: center;justify-content: center;">
            <span *ngIf="checkForm" class="error-alert">Kindly fill all fields appropriately...</span>
          </div>
          <div style="height: 15px;display: flex;align-items: center;justify-content: center;">
            <span *ngIf="checkProduct" class="error-success">Product added successfully...</span>
          </div>
        <button (click)="submitForm()">ADD PRODUCT</button>
    </form>
</div>
