<div class="products">
  <div id="no-data" *ngIf="isLoaded && products.length < 1">
    <span>
      <img
        src="../../assets/icons/exclamation-mark.png"
        alt="exclamation-mark"
      />
      <p>No products to display</p>
    </span>
    <button (click)="routeToAdd()">Add New Product</button>
  </div>
  <div class="view-products">
    <div class="add-product">
      <button (click)="routeToAdd()">Add New Product</button>
    </div>
    <div class="product-list">
      <div class="product" *ngFor="let product of products">
        <h3>{{ product.productName.toUpperCase() }}</h3>
        <p>Description: {{ product.productDescription }}</p>
        <p>Price: {{ product.productPrice }}</p>
      </div>
    </div>
  </div>
</div>
