<div class="products">
  <div id="no-data" *ngIf="isLoaded && products.length < 1">
    <span>
      <img
        src="../../assets/icons/exclamation-mark.png"
        alt="exclamation-mark"
      />
      <p>No products to display</p>
    </span>
    <button (click)="routeToAdd()">Add New Product</button>
  </div>
  <div class="view-products">
    <div class="add-product">
      <button (click)="routeToAdd()">Add New Product</button>
    </div>
    <div class="product-list">
      <div class="product" *ngFor="let product of products">
        <h3>{{ product.productName.toUpperCase() }}</h3>
        <p>DESCRIPTION: {{ product.productDescription }}</p>
        <div class="footer">
            <p class="price">PRICE: {{ product.productPrice }}</p>
            <button (click)="routetoView(product.id,product)">View Product</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
