<div class="login">
    <div class="img-container">
      <img src="../../assets/icons/lock.png" alt="lock" />
    </div>
    <form [formGroup]='registerForm'>
    <input type="text" formControlName="firstName" placeholder="First name *" />
    <input type="text" formControlName="lastName" placeholder="Last name *" />
    <input type="email" formControlName="email" placeholder="Email *" />
    <div>
      <input [type]="showPassword ? 'text' : 'password'" formControlName="password" placeholder="Password *" />
      <button (click)="togglePassword()">
          <i *ngIf="showPassword" class="fa-regular fa-eye-slash"></i>
          <i *ngIf="!showPassword" class="fa-regular fa-eye"></i>
      </button>
    </div>
    <button class="sign-up" (click)="register()">SIGN UP</button>
  </form>
    <span class="sign-in">
      <p>ALREADY HAVE AN ACCOUNT?</p>
      <button id="login" (click)="navigateToLogin()">SIGN IN</button>
    </span>
  </div>
  
