<div class="login">
  <div class="img-container">
    <img src="../../assets/icons/lock.png" alt="lock" />
  </div>
  <form [formGroup]="loginForm">
  <input type="email" id="email" formControlName="email" placeholder="Email *" />
  <div>
    <input id="password" formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password *" />
    <button (click)="togglePassword()" id="toggler">
        <i *ngIf="showPassword" class="fa-regular fa-eye-slash"></i>
        <i *ngIf="!showPassword" class="fa-regular fa-eye"></i>
    </button>
  </div>
  <div style="height: 30px;display: flex;align-items: center;justify-content: center;">
    <span *ngIf="checkForm" class="error-alert">Kindly fill all fields appropriately...</span>
  </div>
  <button class="sign-up" (click)="submitForm()" type="submit">SIGN IN</button>
</form>
  <span class="sign-in">
    <p>DON'T HAVE AN ACCOUNT?</p>
    <button id="login" (click)="navigateToSignUp()">SIGN UP</button>
  </span>
</div>
