p {
    margin: 10px 0;
}

.text {
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    margin: 20px 0;
}

button {
    border: 1px solid #e9e6e6;
    padding: 7px 10px;
    border-radius: 3px;
    margin-top: 10px;
    cursor: pointer;
}

.text-danger {
    color:red;
}

.text-success {
    color:green;
}

.text-special {
    font-style: italic;
}

ul {
    background-color: #dfdede;
}